@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import compass/reset.sass
@import partials/base.sass
@import partials/uicustom.sass
@import partials/uidialog.sass
@import blueprint/modules/grid.sass
@import compass/utilities.sass

+blueprint
// Remove the scaffolding when you're ready to start doing visual design.
// Or leave it in if you're happy with how blueprint looks out-of-the-box
+blueprint-scaffolding
body.content
  width: 950px
  margin-left: auto
  margin-right: auto
  background: black
  .container
    +container
    background: #C8C7C7
  #header
    +column(25)
    :background = !menu_color
    table
      th.chname
        width: 10%
      th.chlvl
        width: 10%
      td.exp
        width: 60%
      td.exp_value
        width: 20%s
    #exp
      height: 15px
      margin-right: auto
  #content
    +column(19)
  #rightside
    +column(6, "last")
    :background = !menu_color
  .progressbar, #energy, #health
    height: 15px
    width: 80%
    margin-left: auto
    margin-right: auto
  #exp_pbImage
    height: 20px
    width: 80%
    margin-left: auto
    margin-right: auto
  .itemDialog
    +uidialog
    :background = !menu_color
    border: 2px black
  #item_menu
    :background = !menu_color
    cursor: pointer
    border: inset black 2px
  .item
    cursor: pointer
  .item_menu_mouseover
    background: yellow
    text-decoration:underline
    border-bottom: 2px solid black
  #main
    height: 300px
  #equipment_table
    table
      border: 2px solid black
      width: 100px
  .healthlabel
    width: 20px
  .healthbar
    width: 80px
  .healthval
    width: 20px

  .skillbar
    background = !menu_color
    width: 100px
    height: 10px
    .ui-progressbar-value
      background = yellow
    

