#container
  width: 720px
  height: 500px
.loading
  visibility: hidden
#healthProgBar
  width: 100px
#healthProgBar
  color: red
#vitalsTable
  font-size: 125%
  width: 100%
  border-style: ridge
  .vitalsRow
    border-bottom: 3px ridge
    text-align: center
  #vitalsLable
    background-color: gray
    color: white
    text-align: center
  .lable
    font-weight: bold
    text-transform: capitalize
.skillTable
  width: 100%
  
.headbars
  width: 100%
#time
  font-size: 110%
  font-weight: bold
  text-align: center
  background-color: gray
  color: white
.statCounter
  color: blue
