#content.loading
  #tabs
    #main
    #skills
      #titles
    #inventory
      #inventory_left
      #inventory_right
    #bank
      #bank_left
      #bank_right
    #equipment
      %table
        %tr
          %td
          %td#head
          %td
        %tr
          %td
          %td#chest
          %td
        %tr
          %td#rhand
          %td
          %td#lhand
        %tr
          %td
          %td#pants
          %td
