#header
  %table.headbars
    %tr
      %th.charname
        =@character.name
      %th.chalvl_label
        Level:
      %th.charlvl
        =@character.level
    %tr
      %td.exp
        #exp
      %td.expval
      