#header.loading
  %table.headbars
    %tr
      %th{:colspan=>4}
        =@character.name
      %th.charlvl
        Level: 
        =@character.level
    %tr
      %td
        Experience:
      %td{:colspan=>'4'}
        #exp
      %td#expval
      