#header.loading
  %table.headbars
    %tr
      %th{:colspan=>3}
        =@character.name
      %th.chalvl_label
        Level:
      %th.charlvl
        =@character.level
    %tr
      %td{:colspan=>'5'}
        #exp
      %td#expval
      