#rightside.loading
  %table
    %tr
      %td
        Energy:
      %td
        #energy
      %td#energyval
      %td#energy_counter.statCounter
    %tr
      %td
        Health:
      %td
        #health
      %td#healthval
      %td#health_counter.statCounter
  #time
  #stats
