#context-menu
  -@character.titles.each do |title|
    %b
    %ul
      #{title.name} level #{title.level}
      -title.skills.each do |skill|
        %li
          #{skill.name} level #{skill.level}

#content
  This is the content of the page
#some-ads-and-stuff
  This is the right side
