!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{ :href => "javascripts/dijit/themes/soria/soria.css", :rel => "stylesheet", :type => "text/css"}
    %link{ :href => "javascripts/dijit/themes/dijit.css", :rel => "stylesheet", :type => "text/css"}
    %link{ :href => "javascripts/dojo/resources/dojo.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href=>"stylesheets/compiled/tufflife.css",:rel=>"stylesheet",:type=>"text/css"}
    %script{:src=>"javascripts/dojo/dojo.js", :type => "text/javascript", :djConfig=>"parseOnLoad: true, isDebug:true"}
    %script{:src=>"javascripts/tufflife_base.js", :type=>"text/javascript"}
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Tuff Life
  %body{:class=>'soria content'}
    %p{ :style => "color: green" }
      = flash[:notice]
    %hi#loading
      Loading...
    #container
      
      =render :partial=>'header'
      = yield

